import numpy as np

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [54]:
# Exercises Part I

# Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

# Use pandas to create a Series named fruits from the following list:

# ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple",
#  "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango",
#  "blueberry", "blackberry", "gooseberry", "papaya"]

# Use Series attributes and methods to explore your fruits Series.

fruits_pd.shape
#(17,)

fruits_pd.size

17

In [13]:

# Use pandas to create a Series named fruits from the following list:

# ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple",
#  "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango",
#  "blueberry", "blackberry", "gooseberry", "papaya"]


fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", 
          "honeycrisp apple", "tomato", "watermelon", "honeydew",
          "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry",
          "gooseberry", "papaya"]
type(fruits)
fruits

#Converting my list to a series using pd.Series
fruits_pd = pd.Series(fruits)
fruits_pd
# 0                 kiwi
# 1                mango
# 2           strawberry
# 3            pineapple
# 4           gala apple
# 5     honeycrisp apple
# 6               tomato
# 7           watermelon
# 8             honeydew
# 9                 kiwi
# 10                kiwi
# 11                kiwi
# 12               mango
# 13           blueberry
# 14          blackberry
# 15          gooseberry
# 16              papaya
# dtype: object

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [16]:
# Exercise 1.1: Determine the number of elements in fruits.
fruits_pd.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [18]:
# Exercise 1.2: Output only the index from fruits

fruits_pd.index
# RangeIndex(start=0, stop=17, step=1)

RangeIndex(start=0, stop=17, step=1)

In [19]:
# Exercise 1.3: Output only the values from fruits

fruits_pd.values
# array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
#        'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
#        'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
#        'papaya'], dtype=object)

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [56]:
# Exercise 1.4: Confirm the data type of the values in fruits.

fruits_pd.dtype
# dtype('O')

dtype('O')

In [24]:
# Exercise 1.5: Output only the first five values from fruits.
# Output the last three values. Output two random values from fruits.

#First five values:
fruits_pd.head()

# 0          kiwi
# 1         mango
# 2    strawberry
# 3     pineapple
# 4    gala apple
# dtype: object

#Last three values:
fruits_pd.tail(3)

# 14    blackberry
# 15    gooseberry
# 16        papaya
# dtype: object

#Two random values:
fruits_pd.sample(2)

# 4     gala apple
# 15    gooseberry
# dtype: object

4     gala apple
15    gooseberry
dtype: object

In [58]:
# Exercise 1.6: Run the .describe() on fruits to see what information it 
# returns when called on a Series with string values.

fruits_pd.describe()

# count       17
# unique      13
# top       kiwi
# freq         4
# dtype: object

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [27]:
# Exercise 1.7: Run the code necessary to produce only the unique string values from fruits.

fruits_pd.unique()

# array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
#        'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
#        'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [30]:
# Exercise 1.8: Determine how many times each unique string value occurs in fruits.

fruits_pd.value_counts()

# kiwi                4
# mango               2
# strawberry          1
# pineapple           1
# gala apple          1
# honeycrisp apple    1
# tomato              1
# watermelon          1
# honeydew            1
# blueberry           1
# blackberry          1
# gooseberry          1
# papaya              1
# dtype: int64

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [60]:
# Exercise 1.9: Determine the string value that occurs most frequently in fruits.

fruits_pd.value_counts().nlargest(n=1, keep ='first')

# kiwi    4
# dtype: int64

kiwi    4
dtype: int64

In [61]:
# Exercise 1.10: Determine the string value that occurs least frequently in fruits.

fruits_pd.value_counts().nsmallest(n=1, keep ='all')

# strawberry          1
# pineapple           1
# gala apple          1
# honeycrisp apple    1
# tomato              1
# watermelon          1
# honeydew            1
# blueberry           1
# blackberry          1
# gooseberry          1
# papaya              1
# dtype: int64

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [ ]:
# Exercises Part II

# Explore more attributes and methods while you continue to work with the fruits Series.

In [70]:
# Exercise 2.1: Capitalize all the string values in fruits.

fruits_pd.str.title()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala Apple
5     Honeycrisp Apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [95]:
# Exercise 2.2: Count the letter "a" in all the string values (use string vectorization).
# fruits_pd.apply(lambda x: x.count('a'))

sum(fruits_pd.str.count('a'))

14

In [213]:
# Exercise 2.3: Output the number of vowels in each and every string value.

#My way:
sum(fruits_pd.str.count('a') + fruits_pd.str.count('e') + fruits_pd.str.count('i')
   + fruits_pd.str.count('o') + fruits_pd.str.count('u'))

#Madeline's ways:
def count_vowels(string):
    counter = 0
    for letter in string:
        if letter in 'aeiou':
            counter +=1
    return counter
fruits_pd.apply(count_vowels)
#OR
fruits_pd.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [217]:
# Exercise 2.4: Write the code to get the longest string value from fruits.
pd.Series(fruits_pd.values, index = fruits_pd.values)
# fruits_pd.max()

kiwi                            kiwi
mango                          mango
strawberry                strawberry
pineapple                  pineapple
gala apple                gala apple
honeycrisp apple    honeycrisp apple
tomato                        tomato
watermelon                watermelon
honeydew                    honeydew
kiwi                            kiwi
kiwi                            kiwi
kiwi                            kiwi
mango                          mango
blueberry                  blueberry
blackberry                blackberry
gooseberry                gooseberry
papaya                        papaya
dtype: object

In [219]:
# Exercise 2.5: Write the code to get the string values with 5 or more letters in the name.

#My unnessecarily complex way:
def cinco_y_arriba(string):
    n = 4
    if len(string) > n:
        return string
    else:
        return 'menos de cinco :('

fruits_pd.apply(cinco_y_arriba).value_counts()

#Madeline's much less complicated way:
fruits_pd[fruits_pd.apply(len) >=5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [221]:
# Exercise 2.6: Find the fruit(s) containing the letter "o" two or more times.

# def has_an_o(string):
#     if 'o' in string:
#         return string
#     else:
#         return 'ohh nooo'
    
o_mask= fruits_pd.str.lower().str.count('o') >= 2
fruits_pd[o_mask]

6         tomato
15    gooseberry
dtype: object

In [227]:
# Exercise 2.7: Write the code to get only the string values containing the substring "berry".

'berry' in 'berry'

fruits_pd[fruits_pd.str.contains('berry')]

#Madeline's way
fruits_pd[fruits_pd.apply(lambda x: 'berry' in x)]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [234]:
fruits_pd[fruits_pd.str.contains([('aeiou')])]

TypeError: unhashable type: 'list'